h1 {
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
  font-weight: 900;
  color: orange;
}

.main {
  color: #9ad9e2;
  font-size: 24px;
  float: right;
  width: 60%;
}

body {
  background-image: url(../img/bluebg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-color: #313d96;
}

h3 {
  font-style: italic;
  font-size: 27px;
  color: orange;
}

p {
  color: orange;
}

a {
  color: #ffb600
}

.sidebar {
  color: darkorange;
  float: left;
  width: 30%;
  background-color: blue;
}

.pageinfo {
  font-size: 24px;

}

.imagepage {
  float: right;
  color: orange;
  width: 80%;
}

.column {
  width: 30%;
  float: left;
  padding: 0.5%;
  margin: 0.5%;
  border: 1px solid orange;
}

img.column {
  width: 100%;
  height: auto;
}
